<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Own CSS -->
    <link rel="stylesheet" href="css/style_menu.css">
    <link rel="stylesheet" href="css/responsive-style.css">
    <style>
        body {
            background-image: url('image/bg/bg-4.jpg');
            background-size:cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>

    <!-- header design -->
    <header>
        <nav class="navbar navbar-expand-lg navigation-wrap">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="image/logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-stream navbar-toggler-icon"></i> <!--This is a fontawesome.com icon-->
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#bfast">Breakfast</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#lunch">Lunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#snacks">Snacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#dinner">Dinner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#drinks">Drinks</a>
                        </li>
                        <li><button class="main-btn">1200 345 123</button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section id="explore-food">
        <div class="explore-food wrapper">
            <div class="container">


                <div class="row pt-5" id="bfast">
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/bfast-1.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Aloo Pratha</h4>
                                <p>Time: 10 - 15 Minutes | Serves: 1</p>
                                <span>₹40.15 <del>₹55.75</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/bfast-2.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Veg Noodles</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹70.65 <del>₹100.25</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/bfast-3.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Double Cheese Burger</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹50.00 <del>₹55.65</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/bfast-4.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Aloo Puri</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹100.15 <del>₹120.55</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row pt-5" id="lunch">
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/L-1.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Veg Biryani</h4>
                                <p>Time: 20 - 25 Minutes | Serves: 1</p>
                                <span>₹90.75 <del>₹100.15</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/L-2.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Rajma Rice</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹60.35 <del>₹70.65</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/L-3.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Normal Thali</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹75.85 <del>₹90.15</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/L-4.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Paneer Rice Bowl</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹80.25 <del>₹100.75</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-5" id="snacks">
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/blog-1.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Spring Roll</h4>
                                <p>Time: 10 - 15 Minutes | Serves: 1</p>
                                <span>₹120.00 <del>₹135.75</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/blog-2.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Grill Sandwich</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 2</p>
                                <span>₹100.50 <del>₹135.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/blog-3.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Panner</h4>
                                <p>Time: 10 - 15 Minutes | Serves: 1</p>
                                <span>₹85.45 <del>₹100.45</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/blog-4.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Paneer Roll</h4>
                                <p>Time: 20 - 25 Minutes | Serves: 1</p>
                                <span>₹70.55 <del>₹90.25</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row pt-5" id="dinner">
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/D-1.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Amritsari Naan</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 2</p>
                                <span>₹120.15 <del>₹140.65</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/D-2.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Chole Kulche</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹100.50 <del>₹135.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/D-3.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Mattar Paneer</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹125.50 <del>₹145.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/D-4.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Kadhai Paneer</h4>
                                <p>Time: 15 - 20 Minutes | Serves: 1</p>
                                <span>₹150.20 <del>₹165.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row pt-5" id="drinks">
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/B-1.jpg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Mango Lassi</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹55.75 <del>₹65.00</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/B-2.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Normal Lassi</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹50.25 <del>₹55.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/B-3.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Cold Coffee</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹75.50 <del>₹85.70</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 mb-lg-0 mb-5 p-3">
                        <div class="card p-3">
                            <img src="image/breakfast/B-4.jpeg" class="img-fluid">
                            <div class="pt-3">
                                <h4>Oreo Shake</h4>
                                <p>Time: 5 - 10 Minutes | Serves: 1</p>
                                <span>₹60.55 <del>₹70.65</del></span>
                                <button class="mt-4 main-btn order-now-btn">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>



                </div>
            </div>
        </div>
    </section>




    <!-- JS Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <!-- Own JS -->
    <script src="Js/main.js"></script>
</body>

</html>